<a href="https://colab.research.google.com/github/mbfons/inventory_scripts/blob/master/discovery_rdf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# https://rdflib.readthedocs.io/en/stable/intro_to_parsing.html

In [ ]:
!pip install rdflib

Collecting rdflib
  Downloading rdflib-7.0.0-py3-none-any.whl (531 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 531.9/531.9 kB 7.8 MB/s eta 0:00:00
Collecting isodate<0.7.0,>=0.6.0 (from rdflib)
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.7/41.7 kB 5.3 MB/s eta 0:00:00
Requirement already satisfied: pyparsing<4,>=2.1.0 in /usr/local/lib/python3.10/dist-packages (from rdflib) (3.1.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from isodate<0.7.0,>=0.6.0->rdflib) (1.16.0)
Installing collected packages: isodate, rdflib
Successfully installed isodate-0.6.1 rdflib-7.0.0

### Import

In [ ]:
from rdflib import Graph

## Load file from url

In [ ]:
myg = Graph()
#myg.parse('http://danbri.org/foaf.rdf#')

### Load Turtle file

In [ ]:
mygraph = Graph()

In [ ]:
mygraph.parse('bees.ttl',format='ttl')

### View Turtle file

In [ ]:
print(len(mygraph))

4

In [ ]:
for stmt in mygraph:
    print(stmt)

(rdflib.term.URIRef('https://data.gov.gr/id/dataset/BeePopulation'), rdflib.term.URIRef('http://purl.org/dc/terms/publisher'), rdflib.term.URIRef('https://agencies.gov.gr/id/GreekEnvironmentAgency'))
(rdflib.term.URIRef('https://data.gov.gr/id/dataset/BeePopulation'), rdflib.term.URIRef('http://purl.org/dc/terms/description'), rdflib.term.Literal('A dataset about bee population in Greece', lang='en'))
(rdflib.term.URIRef('https://data.gov.gr/id/dataset/BeePopulation'), rdflib.term.URIRef('http://purl.org/dc/terms/title'), rdflib.term.Literal('Bee population', lang='en'))
(rdflib.term.URIRef('https://data.gov.gr/id/dataset/BeePopulation'), rdflib.term.URIRef('http://www.w3.org/1999/02/22-rdf-syntax-ns#type'), rdflib.term.URIRef('http://www.w3.org/ns/dcat#Dataset'))

In [ ]:
for e in stmt:
  print(e)

https://data.gov.gr/id/dataset/BeePopulation
http://www.w3.org/1999/02/22-rdf-syntax-ns#type
http://www.w3.org/ns/dcat#Dataset

### Save RDF as Turtle again

In [ ]:
mygraph.serialize(destination="bees_out.ttl")

### Save RDF as XML

In [ ]:
v = mygraph.serialize(format="xml",destination="bees_out.xml")

In [ ]:
print(v)

[a rdfg:Graph;rdflib:storage [a rdflib:Store;rdfs:label 'Memory']].

### Save RDF as JSON-LD

In [ ]:
mygraph.serialize(format="json-ld",destination="bees_out.jsonld")

## Creating RDF Triples

### Parse from string

In [ ]:
g = Graph().parse(data="<a:> <b:> <c:>.")

In [ ]:
print(g.serialize())

<a:> <b:> <c:> .

In [ ]:
for r in g.triples((None, None, None)):
    print(r)

(rdflib.term.URIRef('a:'), rdflib.term.URIRef('b:'), rdflib.term.URIRef('c:'))

### Node creation

In [ ]:
from rdflib import URIRef, BNode, Literal # 3 classes for representing the 3 possible node types

dgo = URIRef('https://www.sciensano.be/en/about-sciensano/sciensanos-organogram/data-governance')
john = URIRef("http://example.org/people/John")
jane = BNode()

name = Literal("John")
age = Literal("30")
job = Literal("scientist")

Same namespace (many URIs with same prefix)

In [ ]:
from rdflib import Namespace

n = Namespace("http://example.org/people/")
n.john  # == rdflib.term.URIRef("http://example.org/people/john")
n.jake  # == rdflib.term.URIRef("http://example.org/people/jake")

rdflib.term.URIRef('http://example.org/people/jake')

In [ ]:
from rdflib.namespace import CSVW, DC, DCAT, DCTERMS, DOAP, FOAF, ODRL2, ORG, OWL, PROF, PROV, RDF, RDFS, SDO, SH, SKOS, SOSA, SSN, TIME, VOID, XMLNS, XSD

In [ ]:
RDF.type

rdflib.term.URIRef('http://www.w3.org/1999/02/22-rdf-syntax-ns#type')

In [ ]:
FOAF.knows

rdflib.term.URIRef('http://xmlns.com/foaf/0.1/knows')

In [ ]:
PROF.isProfileOf

rdflib.term.URIRef('http://www.w3.org/ns/dx/prof/isProfileOf')

In [ ]:
SOSA.Sensor

rdflib.term.URIRef('http://www.w3.org/ns/sosa/Sensor')

### Adding triples

In [ ]:
newg = Graph() # create graph

In [ ]:
newg.bind("foaf",FOAF) # add namespace

In [ ]:
newg.serialize(format="xml")

'<?xml version="1.0" encoding="utf-8"?>\n<rdf:RDF\n   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"\n>\n</rdf:RDF>\n'

In [ ]:
# initialise nodes
john = URIRef("http://example.org/people/John")
jane = BNode()
name = Literal("John")
age = Literal(24)

In [ ]:
# add
newg.add((john, RDF.type, FOAF.Person))
newg.add((john,FOAF.name,name))
newg.add((john,FOAF.age,age))
newg.add((john,FOAF.knows,jane))
newg.add((jane,RDF.type,FOAF.Person))
newg.add((jane,FOAF.name,Literal("Jane")))

In [ ]:
print(newg.serialize())

@prefix foaf: <http://xmlns.com/foaf/0.1/> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

<http://example.org/people/John> a foaf:Person ;
    foaf:age 24 ;
    foaf:knows [ a foaf:Person ;
            foaf:name "Jane" ] ;
    foaf:name "John" .

### Enumerating and filtering triples

In [ ]:
newg.add((URIRef("http://example.org/people/Jake"),RDF.type,FOAF.Person))
newg.add((URIRef("http://example.org/people/Jake"),FOAF.age,Literal(20)))

In [ ]:
print(newg.serialize())

@prefix foaf: <http://xmlns.com/foaf/0.1/> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

<http://example.org/people/Jake> a foaf:Person ;
    foaf:age 20 .

<http://example.org/people/John> a foaf:Person ;
    foaf:age 24 ;
    foaf:knows [ a foaf:Person ;
            foaf:name "Jane" ] ;
    foaf:name "John" .

In [ ]:
# enumerate all nodes (subject, predicate, object)
for s,p,o in newg:
  print(s+"==="+p+"==="+o)

http://example.org/people/Jake===http://xmlns.com/foaf/0.1/age===20
http://example.org/people/Jake===http://www.w3.org/1999/02/22-rdf-syntax-ns#type===http://xmlns.com/foaf/0.1/Person
Ne39244ac227a43c78480793db351add8===http://www.w3.org/1999/02/22-rdf-syntax-ns#type===http://xmlns.com/foaf/0.1/Person
http://example.org/people/John===http://www.w3.org/1999/02/22-rdf-syntax-ns#type===http://xmlns.com/foaf/0.1/Person
http://example.org/people/John===http://xmlns.com/foaf/0.1/knows===Ne39244ac227a43c78480793db351add8
http://example.org/people/John===http://xmlns.com/foaf/0.1/name===John
http://example.org/people/John===http://xmlns.com/foaf/0.1/age===24
Ne39244ac227a43c78480793db351add8===http://xmlns.com/foaf/0.1/name===Jane

In [ ]:
# enumerate nodes respecting a given filter (e.g. attribute is age)
for s,p,o in newg.triples((None,FOAF['age'],None)):
  print(s+"==="+p+"==="+o)

http://example.org/people/John===http://xmlns.com/foaf/0.1/age===24
http://example.org/people/Jake===http://xmlns.com/foaf/0.1/age===20

In [ ]:
# enumerate nodes respecting a given filter (e.g. subject is John)
for s,p,o in newg.triples((n.John,None,None)):
  print(s+"==="+p+"==="+o)

http://example.org/people/John===http://www.w3.org/1999/02/22-rdf-syntax-ns#type===http://xmlns.com/foaf/0.1/Person
http://example.org/people/John===http://xmlns.com/foaf/0.1/name===John
http://example.org/people/John===http://xmlns.com/foaf/0.1/age===24
http://example.org/people/John===http://xmlns.com/foaf/0.1/knows===Ne39244ac227a43c78480793db351add8

### Removing triples

In [ ]:
newg.remove((URIRef("http://example.org/people/Jake"),None,None))

In [ ]:
print(newg.serialize())

@prefix foaf: <http://xmlns.com/foaf/0.1/> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

<http://example.org/people/John> a foaf:Person ;
    foaf:age 24 ;
    foaf:knows [ a foaf:Person ;
            foaf:name "Jane" ] ;
    foaf:name "John" .

## Navigating graphs

### Contains check

In [ ]:
bob = URIRef("http://example.org/people/bob")
graph = Graph()
graph.add((bob,BNode(),BNode()))

In [ ]:
if (bob, RDF.type, FOAF.Person) in graph:
    print("This graph knows that Bob is a person!")
else:
  print("Don't know if Bob is a person")

Don't know if Bob is a person

In [ ]:
if (bob, None, None) in graph:
    print("This graph contains triples about Bob!")

This graph contains triples about Bob!

### Sets

Can use + for union, - for difference, & for intersection, ^ for exclusive or

### Basic triple matching

In [ ]:
newg.add((URIRef("http://example.org/people/Jake"),RDF.type,FOAF.Person))
newg.add((URIRef("http://example.org/people/Jake"),FOAF.age,Literal(20)))

In [ ]:
print(newg.serialize())

@prefix foaf: <http://xmlns.com/foaf/0.1/> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

<http://example.org/people/Jake> a foaf:Person ;
    foaf:age 20 .

<http://example.org/people/John> a foaf:Person ;
    foaf:age 24 ;
    foaf:knows [ a foaf:Person ;
            foaf:name "Jane" ] ;
    foaf:name "John" .

In [ ]:
# find all subjects (s) of type (rdf:type) person (foaf:Person)
for s, p, o in newg.triples((None,RDF.type,FOAF.Person)):
  print(f"{s} is a person.")

http://example.org/people/John is a person.
Ne39244ac227a43c78480793db351add8 is a person.
http://example.org/people/Jake is a person.

In [ ]:
# find all subjects (s) of type (rdf:type)
for s, p, o in newg.triples((None,RDF.type,None)):
  print(f"{s} is a {o}.")

http://example.org/people/John is a http://xmlns.com/foaf/0.1/Person.
Ne39244ac227a43c78480793db351add8 is a http://xmlns.com/foaf/0.1/Person.
http://example.org/people/Jake is a http://xmlns.com/foaf/0.1/Person.

In [ ]:
# create a graph based on a subset / filter
johngraph = Graph()
johngraph += newg.triples((john, None, None))

In [ ]:
print(johngraph.serialize())

@prefix foaf: <http://xmlns.com/foaf/0.1/> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

<http://example.org/people/John> a foaf:Person ;
    foaf:age 24 ;
    foaf:knows [ ] ;
    foaf:name "John" .

In [ ]:
# cases where only a single value makes sense (get single node, not generator)
name = newg.value(john,FOAF.name)
print(name)

John

In [ ]:
person = newg.value(predicate=FOAF.knows,object=john,any=False)

In [ ]:
for person in newg.subjects(RDF.type, FOAF.Person):
    print("{} is a person".format(person))

http://example.org/people/John is a person
Ne39244ac227a43c78480793db351add8 is a person
http://example.org/people/Jake is a person

In [ ]:
for p in newg.predicates(john, FOAF.Person):
    print("{} is the predicate".format(p))

http://www.w3.org/1999/02/22-rdf-syntax-ns#type is the predicate

In [ ]:
for o in newg.objects(john, None):
    print("{} is the object".format(o))

http://xmlns.com/foaf/0.1/Person is the object
John is the object
24 is the object
Ne39244ac227a43c78480793db351add8 is the object

## Querying with SPARQL

In [ ]:
g = mygraph

In [ ]:
n.Jake

rdflib.term.URIRef('http://example.org/people/Jake')

In [ ]:
newg.add((n.Jake,FOAF.knows,n.John))
newg.add((n.Jake,FOAF.name,Literal("Jake")))

In [ ]:
print(newg.serialize())

@prefix foaf: <http://xmlns.com/foaf/0.1/> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

<http://example.org/people/Jake> a foaf:Person ;
    foaf:age 20 ;
    foaf:knows <http://example.org/people/John> ;
    foaf:name "Jake" .

<http://example.org/people/John> a foaf:Person ;
    foaf:age 24 ;
    foaf:knows [ a foaf:Person ;
            foaf:name "Jane" ] ;
    foaf:name "John" .

### Read queries

In [ ]:
knows_query = """
SELECT DISTINCT ?aname ?bname
WHERE {
  ?a foaf:knows ?b .
  ?a foaf:name ?aname .
  ?b foaf:name ?bname .
}"""

In [ ]:
qres = newg.query(knows_query)

In [ ]:
for row in qres:
  print(f"{row.aname} knows {row.bname}")

John knows Jane
Jake knows John

### Update queries

In [ ]:
# Create a Graph, add in some test data
g = Graph()
g.parse(
    data="""
        <x:> a <c:> .
        <y:> a <c:> .
    """,
    format="turtle"
)
print(g.serialize())

<x:> a <c:> .

<y:> a <c:> .

In [ ]:
# Select all the things (s) that are of type (rdf:type) c:
qres = g.query("""SELECT ?s WHERE { ?s a <c:> }""")

In [ ]:
for row in qres:
    print(f"{row.s}")

x:
y:

In [ ]:
# Add in a new triple using SPARQL UPDATE
g.update("""INSERT DATA { <z:> a <c:> }""")

In [ ]:
# Select all the things (s) that are of type (rdf:type) c:
qres = g.query("""SELECT ?s WHERE { ?s a <c:> }""")
print("After update:")
for row in qres:
    print(f"{row.s}")

After update:
x:
y:
z:

In [ ]:
# Change type of <y:> from <c:> to <d:>
g.update("""
         DELETE { <y:> a <c:> }
         INSERT { <y:> a <d:> }
         WHERE { <y:> a <c:> }
         """)
print("After second update:")
qres = g.query("""SELECT ?s ?o WHERE { ?s a ?o }""")
for row in qres:
    print(f"{row.s} a {row.o}")
# prints:
# x: a c:
# z: a c:
# y: a d:

After second update:
x: a c:
z: a c:
y: a d:

### Querying a remote service

In [ ]:
g = Graph()
qres = g.query(
    """
    SELECT ?s
    WHERE {
      SERVICE <https://dbpedia.org/sparql> {
        ?s a ?o .
      }
    }
    LIMIT 3
    """
)

for row in qres:
    print(row.s)

http://www.openlinksw.com/schemas/virtrdf#DefaultQuadMap
http://www.openlinksw.com/schemas/virtrdf#TmpQuadMap
http://www.openlinksw.com/schemas/virtrdf#DefaultServiceMap